<title>eightbitraptor.com</title>
<link rel="stylesheet" href="/stylesheets/column_layout.css" type="text/css" >
<link rel="openid.server" href="http://server.myid.net/server" >
<link rel="openid.delegate" href="http://eightbitraptor.myid.net" >
<meta http-equiv="X-XRDS-Location" content="http://eightbitraptor.myid.net/xrds">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<% if ENV['production'] %>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<% else %>
  <script type='text/javascript' src='/javascripts/jquery.js'></script>
<% end %>
<script type="text/javascript" src="/javascripts/shCore.js"></script>
<script type="text/javascript" src="/javascripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/javascripts/shBrushBash.js"></script>
<script type="text/javascript" src="/javascripts/shBrushXml.js"></script>
<script type="text/javascript" src="/javascripts/eightbitraptor.js"></script>

<link rel="stylesheet" href="/stylesheets/shCoreEmacs.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/shThemeEmacs.css" type="text/css">