!!! 5
%html
  %head
    = partial :head
  %body
  .site-header
    %h1<
      eightbitraptor.com
      %span< Rawr
  .container
    .right-column
      .nav
        = partial :navigation
      .about
        = partial :about
    .main.full-height
      = yield
