!!! 5
%html
  %head
    %title eightbitraptor.com
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/awesome.js' }
    %link{ :rel => 'stylesheet', :href =>'/stylesheets/fonts.css', :type => 'text/css', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href =>'/stylesheets/layout.css', :type => 'text/css', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href =>'/stylesheets/carousel.css', :type => 'text/css', :charset => 'utf-8' }
    %link{ :rel => 'openid.server', :href => "http://server.myid.net/server" }
    %link{ :rel => 'openid.delegate', :href => 'http://eightbitraptor.myid.net' }
    %meta{ :'http-equiv' => 'X-XRDS-Location', :content => 'http://eightbitraptor.myid.net/xrds' }
    %meta{ :'http-equiv' => 'Content-type', :content => 'text/html; charset=utf-8' }
  %body
  .site-header
    %h1<
      eightbitraptor.com
      %span< Rawr
  .container
    .top
      .post-preview-container
        = partial :carousel, :locals => { :posts => locals[:posts]}
      .right-column
        .nav
          = partial :navigation
        .about
          = partial :about
    .main
      = yield
