<!DOCTYPE html>
<html>
  <head>
    <%= partial :head %>
  </head>
  <body>
    <h1 id="site-heading">eightbitraptor.com <span>Rawr.</span></h1>
    <div class="container">
      <div class="column main">
        <%= yield %>
      </div>

      <div class="column sidebar">
        <div class="about vcard">
          <img alt="Matt House (eightbitraptor)" src="http://en.gravatar.com/userimage/4933528/a75d705735395b5f1259148cdf24e64c.jpg">
          <p class="first">I'm <strong><span class="fn">Matt House</span></strong>, a software developer. I work with Rails for <a href="http://www.onthebeach.co.uk">On the Beach.</a></p>

          <p class="adr">I live <a class="region" href="http://maps.google.co.uk/maps?q=cheadle+hulme&hl=en&sll=53.421809,-2.088776&sspn=0.558944,1.448822&vpsrc=0&hnear=Cheadle+Hulme,+Cheadle,+Stockport,+United+Kingdom&t=h&z=15">just south of Manchester</a> with my partner <a href="http://www.madderrabbit.com/">Liz</a>, my cat Kiki and our 2 guinea pigs Inkling and Africa.</p>

          <p><a href="http://eightbitraptor.com" class="url">Eightbitraptor.com</a> is where I write about my experiences and experiments with code, coffee, cars and anything else that inspires my curiosity.</p>

          <p>For something more formal, <a title="Matt House's Curriculum Vitae" href="http://eightbitraptor.com/matthouse.html">here is my CV</a>.</p>
        </div>
        <p>I can be found online in the following places</p>
        <ul class="profile-links">
          <li class="lastfm"><a rel="me" href="http://last.fm/user/theshadowaspect">last.fm</a></li>
          <li class="twitter"><a rel="me" href="http://twitter.com/eightbitraptor">twitter</a></li>
          <li class="github"><a rel="me" href="http://github.com/eightbitraptor">github</a></li>
          <li class="anidb"><a rel="me" href="http://anidb.net/perl-bin/animedb.pl?show=userpage&uid=428521">anidb</a></li>
        </ul>
        <div class="friends column">
          <h4>Friends & Acquantances</h4>
          <ul>
            <li><a href="http://www.madderrabbit.com/">MadderRabbit</a>
            </li><li><a href="http://pesartain.com/blog">Piete Sartain</a>
            </li><li><a href="http://stealthygecko.heroku.com/">Stealthygecko</a></li>
            <li><a href="http://designmonkey.blogger.com/">Design Monkey</a></li>
            <li><a href="http://tomlea.co.uk/">Tom Lea</a></li>
            <li><a href="http://www.thevdm.com/">Jim Valentine</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
