!!! 5
%html
  %head
    = partial :head
  %body
    .container
      .navigation
        %ul
          %li 
            %a{:href => '/posts'} Blog
          %li.last
            %a{:href => '/about'} About
      .site-header
        %h1<
          eightbitraptor.com
          %span< Rawr
      .main
        = yield
