<!DOCTYPE html>
<html>
  <head>
    <%= partial :head %>
    <meta name="google-site-verification" content="lfNSP3udvmlfAWIXoRoxo5Utqc6ikA8tUqUBzOmzCrM" />
  </head>
  <body>
    <div class="container">
      <div class="column">
        <h1 id="site-heading">eightbitraptor.com <span>Rawr.</span></h1>
        <%= yield %>
      </div>

      <div class="column">
        <ul class="navigation">
          <li><a href="/posts">Blog</a></li>
          <li><a href="/matthouse.html">About</a></li>
          <li><a href="http://github.com/eightbitraptor">Code</a></li>
        </ul>
        <ul class="profile-links">
          <li class="lastfm"><a rel="me" href="http://last.fm/user/theshadowaspect">last.fm</a></li>
          <li class="twitter"><a rel="me" href="http://twitter.com/shadowaspect">twitter</a></li>
          <li class="github"><a rel="me" href="http://github.com/eightbitraptor">github</a></li>
          <li class="anidb"><a rel="me" href="http://anidb.net/perl-bin/animedb.pl?show=userpage&uid=428521">anidb</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
