<!DOCTYPE html>
<html>
  <head>
    <%= partial :head %>
  </head>
  <body>
    <div class="left-column">
      <h1 class="site-heading">eightbitraptor.com <span>Rawr.</span></h1>
      <ul class="navigation">
        <li><a href="/posts">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Code</a></li>
      </ul>
      <ul class="profile-links">
        <li class="lastfm"><a rel="me" href="http://last.fm/user/theshadowaspect">last.fm</a></li>
        <li class="twitter"><a rel="me" href="http://twitter.com/shadowaspect">twitter</a></li>
        <li class="github"><a rel="me" href="http://github.com/eightbitraptor">github</a></li>
        <li class="anidb"><a rel="me" href="http://anidb.net/perl-bin/animedb.pl?show=userpage&uid=428521">anidb</a></li>
      </ul>
      <%= get_latest_tweet %>
    </div>
    <div class="right-column">
      <%= yield %>
      <span class="ninja"></span>
    </div>
    <script type="text/javascript" charset="utf-8">
      SyntaxHighlighter.defaults['toolbar'] = false;
      SyntaxHighlighter.all();

      Eightbitraptor.init(jQuery);
    </script>
  </body>
</html>
