!!! 5
%html
  %head
    = partial :head
  %body
    .container
      .navigation
        %ul
          %li 
            %a{:href => '/posts'} Blog
          %li.last
            %a{:href => '/about'} About
      .links
        %a{ :href => 'http://myanimelist.net/profile/shrimphead' }
          %img{ :src => '/images/mal.gif'}
        %a{ :href => 'http://last.fm/user/theshadowaspect' }
          %img{ :src => '/images/lastfm.gif'}
        %a{ :href => 'http://github.com/eightbitraptor' }
          %img{ :src => '/images/github.gif'}
        %a{ :href => 'http://twitter.com/shadowaspect' }
          %img{ :src => '/images/twitter.gif'}
        
      .site-header
        %h1<
          %a{:href => '/'}
            eightbitraptor.com
            %span< Rawr
      .main
        = yield
