.post
  %h2= locals[:post].title
  .post-body= to_html(locals[:post].body)
  .tags
    %p 
      posted on
      = locals[:post].published
      and tagged with
      - locals[:post].tags.each do |tag|
        %a{ :href => "/categories/#{tag}" }= tag