body {
    font-family: Helvetica, sans-serif;
    color: #dde;
    background: #000 url('/images/bg.jpg') repeat-x;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
}

a {
  color: #777;
  text-decoration: none;
}

a:visited,
a:active,
a:focus,
a:hover {
  color: #555;
}
img {
  border: 1px solid #333;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 12px rgba(100,100,100,0.5);
     -moz-box-shadow: 0 0 12px rgba(100,100,100,0.5);
          box-shadow: 0 0 12px rgba(100,100,100,0.5);
}
h2 {
  padding: 10px 0;
}

#site-heading {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 2.5em;
  color: #fff;
  width: 940px;
  margin: auto;
  padding: 70px 10px 20px;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  text-shadow: 1px 1px 8px rgba(255,255,255,1);
}
#site-heading span {
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  color: #999;
  text-shadow: 1px 1px 15px rgba(255,255,255,0.3);
}

.container {
    width: 960px;
    margin: 0 auto;
}

.column {
  float: left;
}
.main {
  width: 690px;
  padding: 0 10px;
  margin-right: 20px;
}
.post {
  padding-top: 30px;
}
.tags {
  font-style: italic;
  color: #999;
}
.divider {
  display: block;
  height: 1px;
  width: 540px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 8px rgba(255,255,255,1);
}

.sidebar {
  width: 220px;
  color: #666;
}
.about {
  padding-top: 93px;
}
.about img {
  float: left;
  margin: 20px 10px 0px 0px;
}
