.post-preview-container{
  position: relative;
  width: 600px;
  height: 250px;
  overflow: hidden;
}
.slider{
  width:1800px;
  height: 250px;
  -webkit-transition: all 0.5s ease-in-out;
}
.post-preview {
  width:531px;
  height:250px;
  float:left;
  background: #dedede;
  color:#000;
  padding:0 35px;
}
.slider-nav {
  font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color:#000;
  position: absolute;
  top: 0px;
  display:block;
  width:30px;
  height:100%;
  background: rgba(22,22,22,0.3);
  line-height:220px;
}
#slider-left{
  left: 0px;
}
#slider-right {
  right: 0px;
}