body{
  font-family: 'DroidSans', 'Verdana', 'Helvetica', sans-serif;
  font-size: 0.9em;
  margin:0; padding:0;
  background-color: #343434;
  color:#fff;
  
}
h1,h2 {
  margin: 0;
  padding: 0;
}
pre,
code {
  font: 1em "DroidSansMono", "Menlo", monospace;
  display:block;
  color:#fff;
  background-color: #000;
  padding:12px 5px;
  width:600px;
  overflow:hidden;
}
a{
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
}
a:hover,
a:focus {
  color: #fefefe;
}

.site-header {
  background: #000;
  border-bottom: 6px solid #54C571;
  padding: 12px;

  color:#f8f8f8;

  background: #000 url('../images/raptor_1.gif') no-repeat bottom right;
  background-position: 75% 100%;
}
.site-header h1 {
  font-family: "Raleway";
  font-size: 4em;
  letter-spacing: 0.2em;
  margin:6px;
  width:960px;
  margin: 0 auto;
}
.site-header h1 span {
  font: italic 0.3em Georgia, Palatino, serif;
  color: #999;
  margin-left: -25px ;
}

.container {
  width: 960px;
  margin: 0 auto 0 auto;
}

.top .post-preview-container {
  width:600px;
  height:250px;
  border:1px solid black;
  float:left;
}

.right-column {
  width: 290px;
  float:right;
  margin-left: 35px;
  padding-left:25px;
  margin-bottom: 1em;
}

/* Clear internal floats */
div.top:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div.top {
  zoom: 1;
}

.main {
  margin-top: 1em;
  width: 600px;
}
.post {
  margin-bottom:3em;
  border-bottom:1px solid green;
  color: #cdcdcd;
}
.post-title {
  font-size: 0.9em;
}
