body{
  font-family: 'DroidSans', 'Verdana', 'Helvetica', sans-serif;
  font-size: 0.9em;
  margin:0; padding:0;
  color:#000;
  background-color:#ccdeef;
}
h1,h2 {
  margin: 0;
  padding: 0;
}
pre,
code {
  font: 1em "DroidSansMono", "Menlo", monospace;
  display:block;
  color:#fff;
  background-color: #000;
  padding:12px 5px;
  overflow:hidden;
}
a{
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
}
a:hover,
a:focus {
  color: #fefefe;
}

.container {
  background-color:#fff;
  width: 960px;
  margin: 3em auto;
  -webkit-box-shadow: 0 0  50px #222;
  border:1px solid  #000;
}
.navigation ul{
  list-style: none inside;
  margin-left:0;
  padding:0;
  font-family: DroidSans;
}
.navigation ul li{
  display:inline-block;
  width: 50px;
  border-right:2px dotted #000;
  margin:0 12px;
}
.navigation li.last{
  border-right:none;
}
.site-header {
  border-bottom: 6px solid #54C571;
  padding: 12px;
  color:#000;
}
.site-header h1 {
  font-family: "Raleway";
  font-size: 4em;
  letter-spacing: 0.2em;
  margin:6px;
  width:960px;
  margin: 0 auto;
}
.site-header h1 span {
  font: italic 0.3em Georgia, Palatino, serif;
  color: #999;
  margin-left: -25px ;
}
.main {
  margin:1em 12px;
}

.post {
  padding-bottom: 3em;
  margin-bottom:3em;
  border-bottom:1px solid #000;
  color: #222;
}
.tags p {
  margin:0;
  padding:0;
  font-style: italic;
  color: #cdcdcd;
  font-size: 0.9em;
}
